* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}
#flex-container {
    display: flex;
    flex-flow: row;
    align-items: stretch;
    height: 100vh;
}
#editor, #preview {
    flex: 1 0 50vw;
    border: 1px solid #ddd;
}
#preview {
    overflow: scroll;
}
#overlay {
    position: absolute;
    padding: 4px;
    top: 0px;
    left: 50vw;
    border-bottom-right-radius: 8px;
    background: #fff;
    border: 1px solid #ddd;
}
#overlay a {
    padding: 4px;
    line-height: 0;
    display: inline-block;
    color: #ddd;
}
#overlay a:hover {
    color: #888;
}
.markdown-body {
    padding: 45px;
}